<div mat-dialog-title>
    <h1>evenement Form</h1>
</div>
<form [formGroup]="empForm" >
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>nom</mat-label>
                <input matInput type="text" [(ngModel)]="nom" [ngModelOptions]="{standalone: true}" class="form-control" id="nom" placeholder="Enter Name">
            </mat-form-field>
           
        </div>

        <div class="row">
           
            <mat-form-field appearance="outline">
                <mat-label>datedebut </mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="datedebut" [ngModelOptions]="{standalone: true}" class="form-control" id="datedebut" placeholder="Enter datedebut">
                <mat-hint>YYYY-MM-DD</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            

          
        </div>

        <mat-form-field appearance="outline">
            <mat-label>datefin </mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="datedebut" [ngModelOptions]="{standalone: true}" class="form-control" id="datefin" placeholder="Enter date fin">
            <mat-hint>YYYY-MM-DD</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

     
        
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
  
</form>

